
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    body, h1, h2 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%
    }

    p {
        line-height: 2
    }
</style>
<body>

    <div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="us">
        <div class="w3-content">
            <h1 class="w3-center w3-text-grey"><b>Welcome to MathShop</b></h1>
            <img class="w3-round w3-grayscale-min" src="~/Images/13.jpg" style="width:100%;margin:32px 0">
            <p>
                <i>
                    MathShop is a clothing store that specializes in mathematical apparel. We offer a wide variety of clothing items, including t-shirts, hoodies, sweatshirts, hats, and more. Our designs are inspired by a variety of mathematical concepts, including geometry, algebra, calculus, and statistics.

                    We believe that math can be both beautiful and stylish, and we want to help people express their love of math through their clothing. Our clothes are perfect for anyone who wants to show off their mathematical side.
                </i>
            </p><br>
            <p class="w3-center"><a href="#shopping" class="w3-button w3-black w3-round w3-padding-large w3-large">Shopping Details</a></p>
        </div>
    </div>

    <div class="w3-display-container bgimg2">
        <div class="w3-display-middle w3-text-white w3-center">
            <h1 class="w3-jumbo">You Are Invited</h1><br>
            <h2>Of course..</h2>
        </div>
    </div>

    <div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="shopping">
        <div class="w3-content">
            <h1 class="w3-text-grey"><b>The MathShop</b></h1>
            <img class="w3-round-large w3-grayscale-min" src="~/Images/14.jpg" style="width:100%;margin:64px 0">
            <div class="w3-row">
                <div class="w3-half">
                    <h2>When</h2>
                    <p>Shop Ceremony - 2:00pm</p>
                    <p>Reception & Dinner - 5:00pm</p>
                </div>
                <div class="w3-half">
                    <h2>Where</h2>
                    <p>Some place, an address</p>
                    <p>Some where, some address</p>
                </div>
            </div>
        </div>
    </div>

</body>